@page
@model IndexModel
@using BuildYourBowl.Data;
@using BuildYourBowl.Data.Enums;
@{
    ViewData["Title"] = "Home page";
}

<form id="menu-database">
    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search">
    </div>


    <div id="filters">
        <h4>Calories</h4>
        <div>
            <input name="CaloriesMin" type="number" min="0" max="1000" step="1" placeholder="min" value="@Model.CalorieMin" />
            to
            <input name="CaloriesMax" type="number" min="0" max="1000" step="1" placeholder="max" value="@Model.CalorieMax" />
        </div>

        <h4>Price</h4>
        <div>
            <input name="PriceMin" type="number" min="0" max="15" step="0.1" placeholder="min" value="@Model.PriceMin" />
            to
            <input name="PriceMax" type="number" min="0" max="15" step="0.1" placeholder="max" value="@Model.PriceMax" />
        </div>

    </div>

    <div id="results">
        <h1>Menu Results</h1>

        <div>
            <h2 id="entrees">Entrees</h2>

            <ul class="menu-list">
                @foreach (IMenuItem menuItem in @Model.EntreeItems)
                {
                    <li>
                        <div class="details">
                            <h3 class="name">@menuItem.Name</h3>
                            <ul>
                                @foreach (string info in menuItem.Instructions)
                                {
                                    <li>
                                        <p>@info</p>
                                    </li>
                                }
                            </ul>
                            <div class="price">@menuItem.Price</div>
                            <div class="calories">@menuItem.Calories</div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div>
            <h2 id="sides">Sides</h2>

            <ul class="menu-list">
                @foreach (IMenuItem menuItem in @Model.SideItems)
                {
                    <li>
                        <div class="details">
                            <h3 class="name">@menuItem.Name</h3>
                            <ul>
                                @foreach (string info in menuItem.Instructions)
                                {
                                    <li>
                                        <p>@info</p>
                                    </li>
                                }
                            </ul>
                            <div class="price">@menuItem.Price</div>
                            <div class="calories">@menuItem.Calories</div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div>
            <h2 id="drinks">Drinks</h2>

            <ul class="menu-list">
                @foreach (IMenuItem menuItem in @Model.DrinkItems)
                {
                    <li>
                        <div class="details">
                            <h3 class="name">@menuItem.Name</h3>
                            <ul>
                                @foreach (string info in menuItem.Instructions)
                                {
                                    <li>
                                        <p>@info</p>
                                    </li>
                                }
                            </ul>
                            <div class="price">@menuItem.Price</div>
                            <div class="calories">@menuItem.Calories</div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div>
            <h2 id="kidsmeals">Kids Meals</h2>

            <ul class="menu-list">
                @foreach (IMenuItem menuItem in @Model.KidsMealItems)
                {
                    <li>
                        <div class="details">
                            <h3 class="name">@menuItem.Name</h3>
                            <ul>
                                @foreach (string info in menuItem.Instructions)
                                {
                                    <li>
                                        <p>@info</p>
                                    </li>
                                }
                            </ul>
                            <div class="price">@menuItem.Price</div>
                            <div class="calories">@menuItem.Calories</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        
    </div>
</form>




<!--
<div class="text-center">
    <h1 class="display-4">Welcome to Build Your Bowl!</h1>
    <p>_greeting here!_</a>.</p>
</div>

<div>
    <h2 id="entrees">Entrees</h2>
    <ul>
        @foreach (IMenuItem item in Menu.Entrees)
        {
            <li>
                <p>Name: @item.Name</p>
                <ul>
                    @foreach (string info in item.Instructions)
                    {
                        <li>
                            <p>@info</p>
                        </li>
                    }
                </ul>
                <p>Price: $@item.Price</p>
                <p>Calories: @item.Calories</p>

            </li>
        }
    </ul>

</div>

<div>
    <h2 id="ingredients">Ingredients</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Additional Cost (build-your-owns)</th>
        </tr>
        @foreach (IngredientItem ingredient in Menu.Ingredients)
        {
            <tr>
                <th>@ingredient.Name</th>
                <th>@ingredient.Calories</th>
                <th>$@ingredient.UnitCost</th>
            </tr>
        }
    </table>

</div>

<div>
    <h2>Salsas</h2>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        @foreach (Salsa salsa in Menu.Salsas)
        {
            <tr>
                <th>@salsa</th>
            </tr>
        }
    </table>

</div>

<div>
    <h2 id="sides">Sides</h2>
    <ul>
        @foreach (IMenuItem item in Menu.Sides)
        {
            <li>
                <p>Name: @item.Name</p>
                <ul>
                    @foreach (string info in item.Instructions)
                    {
                        <li>
                            <p>@info</p>
                        </li>
                    }
                </ul>
                <p>Price: $@item.Price</p>
                <p>Calories: @item.Calories</p>

            </li>
        }
    </ul>

</div>

<div>
    <h2 id="drinks">Drinks</h2>
    <ul>
        @foreach (IMenuItem item in Menu.Drinks)
        {
            <li>
                <p>Name: @item.Name</p>
                <ul>
                    @foreach (string info in item.Instructions)
                    {
                        <li>
                            <p>@info</p>
                        </li>
                    }
                </ul>
                <p>Price: $@item.Price</p>
                <p>Calories: @item.Calories</p>

            </li>
        }
    </ul>

</div>

<div>
    <h2 id="kidsmeals">Kids Meals</h2>
    <ul>
        @foreach (IMenuItem item in Menu.KidsMeals)
        {
            <li>
                <p>Name: @item.Name</p>
                <ul>
                    @foreach (string info in item.Instructions)
                    {
                        <li>
                            <p>@info</p>
                        </li>
                    }
                </ul>
                <p>Price: $@item.Price</p>
                <p>Calories: @item.Calories</p>

            </li>
        }
    </ul>

</div>
-->